{% extends "base.html" %}

{% block title %}
top
{% endblock %}

{% block head %}
<!-- ページタイトルを表示 -->
<h1>top page</h1>
{% endblock %}

{% block content %}
<!-- メインコンテンツ部分を開始 -->
<div class="container mt-5">
    <h1>[FastAPI Sample] Phone Book App</h1>

    <!-- レコード追加フォーム -->
    <div class="mb-4">
        <h3>電話番号追加</h3>
        <!-- POST メソッドでデータを送信するフォーム -->
        <form action="{{ url_for('addContact') }}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">名前</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">電話番号</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="mb-3">
                <label for="memo" class="form-label">メモ(任意)</label>
                <input type="text" class="form-control" id="memo" name="memo" >
            </div>
            <button type="submit" class="btn btn-primary">追加</button>
        </form>
    </div>

    <!-- DB リセットフォーム -->
    <div class="mb-4">
        <!-- POST メソッドで DB をリセットするフォーム -->
        <form action="{{ url_for('resetContactList') }}" method="post">
            <button type="submit" class="btn btn-danger">電話帳をリセット</button>
        </form>
    </div>

    <!-- 電話帳を表示するリンク -->
    <div>
        <a class="btn btn-secondary" href="{{ url_for('showContactList') }}">電話帳をみる</a>
    </div>
</div>
{% endblock %}
