{% extends "base.html" %}

{% block title %}
top
{% endblock %}

{% block head %}
<h1>top page</h1>
{% endblock %}

{% block content %}
<body>
    <h1>hello</h1>

    <!-- <form>を使ってレコードを追加 -->
    <form action="{{ url_for('addItem') }}" method="post">
        <button type="submit" class="btn btn-primary">Insert New Record</button>
    </form>

    <!-- <form>を使ってDBをリセット -->
    <form action="{{ url_for('resetList') }}" method="post">
        <button type="submit" class="btn btn-primary">Reset List</button>
    </form>

    <!-- リストを表示するリンク -->
    <a class="btn btn-primary" href="{{ url_for('showList') }}">Show List</a>
</body>
{% endblock %}
